.MissionImage{
   padding:10px;
   width: 50vh;
   height:50vh;
}
.slide{
    position: absolute;
    margin-top: 8vh;
    margin-left: 20vw;

    width: 55vw;
    height: 55vh;
    
}
.slideContent{
    text-align: center;
}
body{
    background-color: white;
}
.basic{
    
}