.MissionImage {
    padding: 10px;
    width: 45vh;
    height: 45vh;
}

.slide {
    width: 50vw;
    border: 3px solid #000;
    border-radius: 17px;
    box-shadow: 50px -21px 21px 7px rgba(10, 10, 10, 0.1);
}

.slideContent {
    text-align: center;
}

.basic_stage {
    margin-left: 25vw;
    margin-top: 10vw;
}

.line_tracking_stage {
    margin-left: 25vw;
    margin-top: 10vw;
}

.maze_stage {
    margin-left: 25vw;
    margin-top: 10vw;
}

body {
    background-color: white;
}