.u-section-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 43px 900px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 78px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 255px;
  box-shadow: 16px 7px 0px 6px rgba(26,26,26,0.1);
  background-image: url("images/l_hu2KXm_400x400.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-1 .u-container-layout-2 {
  padding: 45px 60px 60px;
}

.u-section-1 .u-text-2 {
  margin: 12px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 36px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 400px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 700px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1 .u-image-1 {
    width: 253px;
    height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 267px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 480px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 300px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 790px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 497px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1862px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 110px 900px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 91px 852px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 516px;
  height: 290px;
  margin: 25px -3px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 402px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  margin: 43px 443px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  margin: 20px 413px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 60px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 286px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 512px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 513px;
  height: 309px;
  margin: 81px auto 0 -3px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 512px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  margin: 25px 384px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 64px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 700px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 652px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 230px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 343px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 313px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-2 .u-image-2 {
    height: 230px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 422px;
  }

  .u-section-2 .u-image-3 {
    width: 410px;
    height: 247px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 422px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 284px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 480px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 432px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 168px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 233px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 203px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 253px;
  }

  .u-section-2 .u-image-2 {
    height: 168px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 323px;
  }

  .u-section-2 .u-image-3 {
    width: 300px;
    height: 181px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2093px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 252px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 291px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 485px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1631px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 52px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 33px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 3px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 239px;
  }

  .u-section-2 .u-image-2 {
    height: 179px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 305px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 879px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 84px 660px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 477px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 561px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 92px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 103px -6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 460px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-3 .u-image-1 {
    height: 379px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 240px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-image-1 {
    height: 272px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 693px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-3 .u-image-1 {
    height: 426px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 731px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 69px 887px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-image-1 {
  min-height: 400px;
  background-image: url("images/risc-v.jpg");
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 687px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-image-1 {
    min-height: 330px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 467px;
  }

  .u-section-4 .u-image-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 287px;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 87px;
  }

  .u-section-4 .u-image-1 {
    min-height: 239px;
  }
}.cell {
transform: rotate(90deg);
}