.GameScreen {
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    width: 80vw;
    height: 100vh;
    z-index: 10;
}

.GameWindow {
    position: absolute;
    margin-top: 0%;
    margin-left: 80%;
    width: 20vw;
    height: 100vh;
}

.partDes {
    border-radius: 10px;
    background-color: #fff;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    padding: 1em;
    width: 100%;
    height: 15vh;
    font-size: 0.7em;
}

.partDes:hover {
    border: 2px solid;
    background-color: gray;
    color: white;
}

.partimage {
    border-radius: 2vh;
    padding: 1vh;
    height: 13vh;
    width: 13vh;
}

.partNam {
    text-align: center;
    margin-top: 4vh;
    width: 10vh;
    font-size: 2vh;
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}

.tab-wrap:after {
    content: '';
    width: 100%;
    height: 2vh;
    background: black;
    display: block;
    order: -1;
}

.tab-label {
    color: White;
    background: LightGray;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    flex: 1;
}

.tab-label:not(:last-of-type) {
    margin-right: 5px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    opacity: 0;
    text-align: center;
    overflow-y: scroll;
}


/* アクティブなタブ */

.tab-switch:checked+.tab-label {
    background: black;
}

.tab-switch:checked+.tab-label+.tab-content {
    height: 90vh;
    overflow: scroll;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
}

.tab-switch:checked+.tab-label+.tab-content::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}


/* ラジオボタン非表示 */

.tab-switch {
    display: none;
}


/*ポップアップ*/

* {
    box-sizing: border-box;
}