body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

.window {
    padding: none;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.logo {
    border-radius: 30px;
    background: #ddd;
    padding: 10px;
    height: 30vh;
    margin-top: 10vh;
}

.mainbtn {
    padding: 0%;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn05 {
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 100;
    padding: 5px;
    background-color: #fff;
    box-shadow: 2px 3px 12px 1px rgba(10, 1, 1, 0.61);
}

.btn05:hover {
    box-shadow: 2px 3px 3px 1px rgba(10, 1, 1, 0.61);
}

.btn06 {
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 100;
    -webkit-transition: .2s;
    transition: .2s;
}

.btn06:hover {
    cursor: pointer;
    text-decoration: none;
}

.btn06::after {
    position: absolute;
    bottom: 4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #e41313;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}

.btn06:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

.icon {
    padding: 5px;
    width: 3vw;
    height: 3vw;
    z-index: 11;
}

.LTicons {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 16;
}

.actHopup {
    display: none;
    padding: none;
    position: absolute;
    margin-left: 40vw;
    margin-top: 35vh;
    width: 20vw;
    height: 10em;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 100;
    text-align: center;
}

.contentHopup {
    color: white;
    font-size: 3em;
    position: relative;
    padding: none;
    margin-top: 0.8em;
}

.login {
    position: absolute;
    margin-left: 90vw;
    margin-top: 30px;
}

.selectWindow {
    position: absolute;
    margin-top: 10vh;
    margin-left: 35vw;
    height: 80vh;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    z-index: 100;
    display: none;
}

.close {
    float: right;
    height: 60%;
    margin: 3% 5px;
    padding: 10px;
    font-size: 2vh;
    color: gray;
    border-radius: 20px;
    border: 2px solid;
}

.close:hover {
    color: white;
}

.selectContent {
    width: 96%;
    height: 88%;
    margin-left: 2%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.selectContent::-webkit-scrollbar {
    display: none;
}

.selectTab {
    margin-left: 2%;
    height: 10%;
    width: 96%;
}

.selectbtn {
    border-radius: 2vh;
    font-size: 3vh;
    height: 7vh;
    margin: 10px 10px;
    padding: 1vh;
    background-color: azure;
}

.selectbtn:hover {
    background-color: #333;
    color: red;
}

.robotName {
    position: absolute;
    margin-top: 2vh;
    margin-left: 30vw;
    height: 5vh;
    width: 20vw;
    font-size: 3vh;
    background-color: #000000;
    border: none;
    color: white;
    z-index: 100;
}

.robotName:hover {
    border: 1px solid;
}