body {
    background-image: url(../../static/img/background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom 0px left 0px;
}

.ContentClose {
    margin-top: 10px;
    padding: 1vh;
    font-size: 2vh;
    color: red;
    border-radius: 2vh;
    border: 2px solid;
}

.ContentClose:hover {
    color: white;
}

.Content {
    height: 83vh;
    width: 60vh;
    max-width: 30vw;
    border-radius: 10px;
    background-color: white;
    padding: 0 3vh;
}