.MissionScreen {
    width: 100vw;
    height: 100vh;
}

.MissionStart {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.95);
    text-align: center;
    z-index: 15;
}

.tools {
    position: absolute;
    border-radius: 10px;
    margin-left: 75vw;
    width: 25vw;
    height: 40vh;
    bottom: 0;
    background-color: gray;
    z-index: 13;
    display: none;
}

.PyConsole {
    height: 38vh;
    width: 100%;
    border: solid 4px gray;
    background-color: black;
    border-radius: 10px;
    color: greenyellow;
    font-size: 20;
    z-index: 13;
}

.PyConsole::-webkit-scrollbar {
    display: none;
}

.timer {
    width: 100%;
    height: 10%;
}

.timerbtn {
    height: 100%;
    color: white;
    border-radius: 5px;
    border: solid 2px;
}

.ScoreWindow {
    display: none;
    z-index: 100;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.95);
    text-align: center;
    -webkit-transition: .2s;
    transition: .2s;
}

.Score {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vw;
    width: 30vw;
    height: 60vh;
    background-color: white;
    overflow-y: scroll;
}

.Score::-webkit-scrollbar {
    display: none;
    padding: 5px;
}

.result {
    color: lightgreen;
    background-origin: border-box;
    border: 1px solid;
    box-shadow: 2px 2px;
    font-size: 3em;
    margin-top: 10vh;
    font-weight: 50;
}

.RltDes {
    font-size: 30;
}

.next {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}