.MissionImage {
    padding: 1vw;
    width: 70%;
    height: auto;
}

.slide {
    border-radius: 30px;
    background-color: #777;
    width: 50vw;
    box-shadow: 0px 3px 15px 1px rgba(10, 1, 1, 0.61);
    padding: 2vh;
}

.slideContent {
    font-size: 1vw;
    text-align: center;
}

.basic_stage {
    margin-left: 25vw;
    margin-top: 10vw;
}

.line_tracking_stage {
    margin-left: 25vw;
    margin-top: 10vw;
}

.maze_stage {
    margin-left: 25vw;
    margin-top: 10vw;
}

.back {
    position: absolute;
    margin-top: -10vh;
    position: fixed;
}