.monaco {
    border-radius: 10px;
    box-shadow: 2px 3px 12px 1px rgba(10, 1, 1, 0.61);
    position: absolute;
    margin-left: 5vw;
    margin-top: 10vh;
    width: 70vw;
    height: 80vh;
    text-align: left;
}

.monaco::-webkit-scrollbar {
    display: none;
    padding: 5px;
}

.editorButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    text-align: center;
}

.document {
    background-color: #fff;
    position: absolute;
    margin-top: 1vh;
    margin-left: 76vw;
    width: 22vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 2px 3px 12px 1px rgba(10, 1, 1, 0.61) inset;
    padding: 12px;
}

.document::-webkit-scrollbar {
    display: none;
    padding: 5px;
}

.func {
    text-align: left;
    width: 90%;
    padding: 1em;
    font-size: 0.7em;
    font-family: sans-serif;
}

.func:hover {
    background-color: whitesmoke;
}

.funcbtn {
    border-left: solid 5px #000000;
    background: #d4d4d4;
    font-size: 1.4em;
    font-weight: 500;
}

.funcbtn:hover {
    border-left: solid 5px #fcb61e;
    background: #ffe696;
}

.code {
    display: none;
    font-size: medium;
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    background-color: whitesmoke;
    transition-duration: 0.2s;
}

.RefPart {
    font-size: 20;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 2px 3px 12px 1px rgba(10, 1, 1, 0.61);
}

.RefPart:hover {
    box-shadow: 2px 3px 2px 1px rgba(10, 1, 1, 0.61);
}