<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/unity.css">


    <!-- Unity -->
    <script src="/static/js/unityRelated/EssentialUnity.js"></script>
    <script src="/static/js/unityRelated/Build/UnityLoader.js"></script>

    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "/static/js/unityRelated/Build/WebGLRoPE.json");
    </script>
    <script src="/static/js/craft.js"></script>
</head>

<body>
    <div class="actHopup">
        <p class="contentHopup"></p>
    </div>


    <div id="gameContainer" class="GameScreen"></div>
    <div class="GameWindow">
        <div class="tab-wrap">
        {%for kind in parts %}
            <input id="{{kind[0]}}" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="{{kind[0]}}">{{kind[0]}}</label>
            <div class="tab-content">
                {% for part in kind[1] %}
                {% if part[2] == 'True' %}
                <div class="partDes" onclick="PS('{{part[0]}}')">
                    <img class="partimage" type="image" src="/static/img/PartImage/{{part[0]}}.png">
                    <h2 class="partNam">{{part[1]}}</h2>
                </div>
                {%else%}
                <div class="partDes" onclick="" style="background-color: gray;color: white;border: 2px solid;">
                    <img class="partimage" type="image" src="/static/img/PartImage/{{part[0]}}.png">
                    <h2 class="partNam">{{part[1]}}</h2>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        {%endfor%}
        </div>
    </div>

    <div class="LTicons">
        <input class="icon" type="image" src="/static/img/svg/arrow_white.svg" onclick="Back();">
        <input class="icon" type="image" src="/static/img/svg/save_white.svg" name="save" onclick="onClickButton('SaveJson');Hopup('Save');">
        <input class="icon" type="image" src="/static/img/svg/load_white.svg" onclick="onClickButton('LoadJson');Hopup('Load');">
    </div>

    <input class="icon" type="image" style="position: absolute;margin-top: 87vh;margin-left: 73vw;" src="/static/img/svg/eraser.svg" onclick="onClickButton('Remove')">
    
    <script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        function PS(str) {
            gameInstance.SendMessage('GameDirector', 'PS', str);
        }
        var url = location.href;
        var params = url.split("?");
        if (params.length > 1) {
            url = "mission.html?" + params[1];
        } else {
            url = "index.html";
        }

        function Back() {
            location.href = url;
        }

        $(document).ready(function() {

            $(window).keydown(function(event) {

                var code = (event.keyCode ? event.keyCode : event.which);
                if (!(code == 83 && event.ctrlKey)) return true;
                event.preventDefault();
                $('input[name="save"]').click();
                return false;
            });
        });
    </script>
    <script src="/static/js/generalJS.js"></script>
</body>

</html>