<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>RoPE</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!--PWA-->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="apple-touch-icon" href="/static/icon.png" sizes="192x192" />
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/static/js/service-worker.js").then(function() {
                console.log('Service Worker Registered');
            });
        }
    </script>
    <meta name="google-site-verification" content="LBPmHEexeDWSy8Foo-vfnD_VbelNUkJWWXmq0ZTxJVg" />
    
</head>

<body style="-webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;" onselectstart="return false;">
    <div class="window">

        <img src="/static/img/white.png " class="logo">

        <div class="mainbtn ">
            <a href="{{url_for( 'craft')}} " class="btn06 " style="font-size: 5vh; ">Craft</a>
            <a href="{{url_for( 'program')}} " class="btn06 " style="font-size: 5vh; ">Program</a>
            <a href="{{url_for( 'missionSelect')}} " class="btn06 " style="font-size: 5vh; ">Mission</a>
            <a class="btn06 " style="font-size: 5vh; " onclick="window.open('https://roperope.sakura.ne.jp/tutorial/DocTop.html', '_blank')">Learn</a>
            
        </div>
        <a  class="btn06 " style="font-size: 3vh;position:absolute;bottom:1vh;right:1vh; "onclick="pwaInstall()">Add to HOME</a>
        <script src="https://js.stripe.com/v3/"></script>
    </div>

    <p style="position:absolute;bottom:1vh;left:1vw;">{{session['ver']}}</p>


    <div class="selectBack">
            <div class="selectWindow" style="background-color:rgba(0,0,0,0);">

                
                
                <div class="Content" style="text-align:center;">
                    <img src="/static/img/white.png " style="width:75%;height:auto;right:auto;left:auto;">
                    <h1>Thank you for visiting RoPE!</h1>
                    <p>Before starting the game, it is recommended to do the tutorial from the link below.</p>
                    <a class="btn06 " style="font-size: 3vh;" onclick="window.open('https://roperope.sakura.ne.jp/tutorial/DocTop.html', '_blank')">Tutorial</a>
                    <p>If you want to know more about the game, please visit the website.</p>
                    <a class="btn06 " style="font-size: 3vh;" onclick="window.open('https://roperope.sakura.ne.jp', '_blank')">Official site</a>
                    <p>Enjoy RoPE!</p>
                    <a class="ContentClose" onclick='$(".selectContent").empty();$(".selectBack").hide();'>Start!</a>
                </div>
                
            </div>
    </div>

    {%if 'login' in session%}
        {%if session['login'] == "True" %}
            <a href="{{url_for('logout')}}" class="btn06" style="font-size: 3vh;position:absolute;top:1vh;right:1vh; ">LogOut</a>
            {%if session['ver'] == "free"%}
            <div class="LTicons">
                <input class="icon" type="image" src="/static/img/svg/shopping-cart.svg" id="payment" onclick="location.href='/payment'">
            </div>
            {%endif%}
        {% else%}
            <a href="{{url_for('login')}}" class="btn06" style="font-size: 3vh;position:absolute;top:1vh;right:1vh; ">LogIn</a>
        {% endif %} 
    {%endif%}

    

    <script src="/static/js/node_modules/jquery/dist/jquery.min.js "></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('./service-worker.js')
                .then(function(registration) {
                    console.log('Service Worker Registered!');
                    return registration;
                })
                .catch(function(err) {
                    console.error('Unable to register service worker.', err);
                });
        }

        $(".logo").css('visibility','visible').hide().fadeIn(500);
        $(".mainbtn").css('visibility','visible').hide().fadeIn(500);

        $(".selectBack").show();
        if (localStorage.length == 0){
            $(".selectBack").show();
        }
        window.addEventListener('beforeinstallprompt', function(event) {
            event.preventDefault();
            defferedPrompt = event;
            return false;
        })
        function pwaInstall() {
            console.log('pwaInstall Click.');
            if (defferedPrompt) {
                defferedPrompt.prompt();
                defferedPrompt.userChoice.then(function(choiceResult) {
                    if (choiceResult.outcome === 'dismissed') {
                        console.log('pwaInstall Click.');
                    } else {
                        window.alert('Thank You!');
                    }
                });
                defferedPrompt = null;
            }
        }
    </script>
    <script src="/static/js/generalJS.js "></script>
</body>

</html>