<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>RoPE
    </title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="apple-touch-icon" href="/static/icon.png" sizes="192x192" />
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/static/js/service-worker.js").then(function() {
                console.log('Service Worker Registered');
            });
        }
    </script>

    <script style="display: none;">
        var gameInstance = UnityLoader.instantiate("gameContainer", "/static/js/unityRelated/Build/WebGLRoPE.json");
    </script>

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">

    <!--Google Acount-->
    <!--
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="903173950355-lommg8dbvtbttqtelg0c6bjlcg04bt84.apps.googleusercontent.com">
        -->
</head>

<body  style="-webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;"
      onselectstart="return false;">


    <div class="window">
        <!--<div class="g-signin2 " data-onsuccess="onSignIn "></div>-->
        <img src="/static/img/white.png " class="logo ">

        <div class="mainbtn ">
            <a href="{{url_for( 'craft')}} " class="btn06 " style="font-size: 5vh; ">Craft</a>
            <a href="{{url_for( 'program')}} " class="btn06 " style="font-size: 5vh; ">Program</a>
            <a href="{{url_for( 'missionSelect')}} " class="btn06 " style="font-size: 5vh; ">Mission</a>
            <a href="https://ropeproject.net/docs/doc.html " target="_blank " rel="noopener noreferrer " class="btn06 " style="font-size: 5vh; ">Learn</a>
        </div>
    </div>


    {%if 'login' in session%}
    {%if session['login'] == "True" %}
        <a href="{{url_for( 'logout')}}" class="btn06 login">Log out</a>
    {% else%}
        <a href="{{url_for( 'login')}} " class="btn06 login">Log in</a>
    {% endif %}
    {%endif%}

    {%if 'ver' in session%}
    {%if session['ver'] == "free" %}
        <input class="icon cart" type="image" src="/static/img/svg/shopping-cart.svg">
    {% endif %}
    {%endif%}

    <button id="checkout-button">Checkout</button>

    <script src="/static/js/node_modules/jquery/dist/jquery.min.js "></script>
    <script>

    var stripe = Stripe("pk_test_51HsSwBKTMlPLG6E8Whlb3sxsje4z0CWOezFm1PtLRwMcLBnPhopCuUh1kC9vVMb1VMG7NSWg4HjC3yj0PtNSjnZE00xk7jknQp");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });

        
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
            .register('./service-worker.js')
            .then(function(registration) {
                console.log('Service Worker Registered!');
                return registration;
            })
            .catch(function(err) {
                console.error('Unable to register service worker.', err);
            });
        }

        
    </script>
    <script src="/static/js/generalJS.js "></script>


</body>

</html>