<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoPE</title>

    <link href="/static/css/slick/slick.css" rel="stylesheet" type="text/css">
    <link href="/static/css/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="/static/css/missionSelect.css" rel="stylesheet" type="text/css">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/unity.css">

    <script src="/static/js/mission.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
</head>

<body style="-webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;" onselectstart="return false;">
    <div class="LTicons">
        <input class="icon" type="image" src="/static/img/svg/arrow.svg" onclick="Back();">
    </div>

    {%for key in range(missions|count)%}
    <div class="{{missions[key][0]}}stage">
        <h2 class="basic">{{missions[key][1]}}</h2>
        <progress value="0" max="100" style="overflow: hidden;"></progress>
        <div class="slide">
            <div class="mission_slide">
                {%for i in range(missions[key][2]|count)%}
                <div class="slideContent" id='{{ missions[key][0]}}level{{i+1}}'>
                    <h2>level{{i+1}}</h2>
                    <p id="tim">Time : 0.0</p>
                    <p id="rlt">Not achieved</p>
                    <p>{{missions[key][2][i]|safe}}</p>
                    <input type="image" src="/static/img/PartImage/{{ missions[key][0]}}level{{i+1}}.png" class="MissionImage lazyload" onclick="makeURL('{{ missions[key][0]}}level{{i+1}}')" alt="CLUSTER SEO">
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    {%endfor%}
    </div>


    <script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/css/slick/slick.min.js"></script>
    <script>
        lazyload();

        let basic_clear = 0;
        let line_clear = 0;
        let maze_clear = 0;
        var mjson = JSON.parse(localStorage.getItem("MissionDataContainer"));

        for (var key in mjson) {
            m = mjson[key];
            $("#" + key).find('#tim').text("time : " + m["time"]);
            $("#" + key).find('#rlt').text(m["rlt"]);

            if (m["rlt"] == "clear") {
                $("#" + key).find('.MissionImage').css('background', 'lightgreen');
                $("#" + key).find('#rlt').css("color", "green");

                if (key.indexOf("basic") > -1) basic_clear++;
                if (key.indexOf("line") > -1) line_clear++;
                if (key.indexOf("maze") > -1) maze_clear++;

            }
            if (m["rlt"] == "failed") {
                $("#" + key).find('.MissionImage').css('background', 'red');
                $("#" + key).find('#rlt').css("color", "red");
            }
        }
        $(".basic_stage").find("progress").val((basic_clear / 4 * 100).toString());
        $(".line_tracking_stage").find("progress").val((line_clear / 6 * 100).toString());
        $(".maze_stage").find("progress").val((maze_clear / 9 * 100).toString());


        $(".basic_stage").find(".slide").css("background", "#fff");
        if ((basic_clear / 4 * 100) > 60) {
            $(".line_tracking_stage").find(".slide").css("background", "#fff");
            if ((line_clear / 6 * 100) > 60) {
                $(".maze_stage").find(".slide").css("background", "#fff");
            }
        }

        $('.mission_slide').slick({
            infinite: false,
            centerMode: true,
            dots: true,
        });

        function makeURL(missionName) {
            if (missionName.indexOf("line_tracking") > -1) {
                if ((basic_clear / 4 * 100) <= 60) {
                    return;
                }
            }
            if (missionName.indexOf("maze_") > -1) {
                if ((line_clear / 6 * 100) <= 60) {
                    return;
                }
            }
            location.href = "/mission.html?m=" + missionName;
        }

        function Back() {
            location.href = "index.html";
        }
    </script>
    <script src="/static/js/generalJS.js"></script>
</body>

</html>