<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/unity.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mission.css">


    <!-- Unity -->
    <script src="/static/js/unityRelated/EssentialUnity.js"></script>
    <script src="/static/js/unityRelated/Build/UnityLoader.js"></script>

    <!--skulpt-->
    <script src="/static/js/dist/skulpt.min.js" type="text/javascript"></script>
    <script src="/static/js/dist/skulpt-stdlib.js" type="text/javascript"></script>

    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "/static/js/unityRelated/Build/WebGLRoPE.json");
    </script>

    <script src="/static/js/RunPython.js"></script>
    <script src="/static/js/mission.js"></script>
</head>

<body  style="-webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;"
      onselectstart="return false;">
    <div class="MissionStart" id="shade" style="display: none;">
        <a type="button" class="btn06" style="margin-top: 50vh;font-size: 70;color: white;" onclick="MissionStart()">Start!</a>
    </div>
    <div class="window">
        <div id="gameContainer" class="GameScreen MissionScreen"></div>
        <div class="LTicons" style="display:none;">
            <input class="icon" type="image" src="/static/img/svg/arrow.svg" style="fill: rgb(200,200, 200);" onclick="location.href='./missionSelect.html'">
            <input class="icon" type="image" src="/static/img/svg/craft.svg" onclick="Move('craft.html');">
            <input class="icon" type="image" src="/static/img/svg/program.svg" onclick="Move('program.html');">
            <input class="icon" type="image" src="/static/img/svg/console.svg" onclick="displayConsole();" id="conTog">
        </div>
    </div>



    <div class="tools">
        <div class="timer" style="display:row;">
            <input class="miniicon" type="image" src="/static/img/svg/close.svg" style="float:right" onclick="closeConsole();">
        </div>
        <textarea class="PyConsole" id="output"></textarea>
    </div>
    

    <div class="ScoreWindow">
        <div class="Score">
            <input class="icon" type="image" src="/static/img/svg/craft.svg" onclick="Move('craft.html');" style="float:right;">
            <input class="icon" type="image" src="/static/img/svg/program.svg" onclick="Move('program.html');"style="float:left;">
            <p class="result">Clear!</p>
            <p class="RltTime">00:00:00</p>
            <p class="RltDes"></p>
            <a href="missionSelect.html" class="btn06 next">Next</a>
            <a href=" " class="btn06 next" style="margin-top:3px;">Again</a>
        </div>
        
    </div>

    <script>
        function displayBtn(){
            $('.tools').fadeIn(50);
            $('.LTicons').fadeIn(50);
        }
        function displayConsole(){
            $('.tools').fadeIn(50);
            $("#conTog").hide();
        }
        function closeConsole(){
            $('.tools').fadeOut(50);
            $("#conTog").fadeIn(50);
        }
        function Move(html) {
            location.href = html + "?re=" + location.href;
        }

        $("#conTog").hide();
        rn = localStorage.getItem("lastRobot");
        if (!rn) {
            location.href = {{url_for("craft")|tojson}};
        }
        sn = localStorage.getItem("lastScript");
        if(!sn){
            location.href = {{url_for("program")|tojson}};
        }

        window.onpageshow = function(event) {
	        if (event.persisted) {
		        window.location.reload();
	        }
        };

        const scr =  function(){
            $(".PyConsole").scrollTop($(".PyConsole")[0].scrollHeight );   
        }
        setInterval(scr, 100);
        
        
    </script>
    <script src="/static/js/generalJS.js"></script>
</body>

</html>