<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RoPE</title>
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <style>
        .btn {
            margin-top: 5vh;
            font-size: 30;
            font-weight: 500;
            width: 20vw;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid;
        }
        
        .btn:hover {
            background-color: black;
            color: red;
        }
    </style>
</head>

<body style="-webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;text-align: center;" onselectstart="return false;">
    <h1>Thanks, you paid !</h1>


    
    <p>Your account has been upgraded to pro!</p>
    <a class="btn" href="{{url_for('index')}}">return</a>
</body>

</html>