<html>

<head>
    <title>WeboPy</title>
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">

    <style>
        .btn {
            margin-top: 5vh;
            font-size: 30;
            font-weight: 500;
            width: 20vw;
            padding: 10px;
            border-radius: 10px;
            border: 2px solid;
        }
        
        .btn:hover {
            background-color: black;
            color: red;
        }
        .partIm{
            margin:2vh 2vh;
            height:15vh;
            width:15vh;
            border-radius:2vh;
        }
    </style>
</head>

<body style="-webkit-user-select: none; -khtml-user-select: none; -ms-user-select: none; -moz-user-select: none; user-select: none;text-align: center;" onselectstart="return false;"></body>
    
    <img src="/static/img/white.png " style="width:25vw">
    <h3>
        You will be able to make multiple saves.
    </h3>
    <h3>
        You will be able to use additional Sensors and Blocks.
    </h3>

    <button class="btn" id="checkout-button">UPGRADE</button>
    <h3>$5.5</h3>
    <br>

    <div style="height:19vh;width:100vw;">
        <img class="partIm" src="/static/img/PartImage/MB.png">
        <img class="partIm" src="/static/img/PartImage/Servomotor_big.png">
        <img class="partIm" src="/static/img/PartImage/Servomotor_mini.png">
        <img class="partIm" src="/static/img/PartImage/Solenoid_mini.png">
        <img class="partIm" src="/static/img/PartImage/RF.png">
        <img class="partIm" src="/static/img/PartImage/Gyro.png">
        <img class="partIm" src="/static/img/PartImage/Bearing.png">
        <img class="partIm" src="/static/img/PartImage/Bearing_Locked.png">
    </div>
    <img src="/static/img/CraftMulti.png" style="width:30vw;height: auto;padding:2.5vw;">
    <img src="/static/img/ProgramMulti.png" style="width:30vw;height: auto;padding:2.5vw;">
    <div class="LTicons">
        <input class="icon" type="image" src="/static/img/svg/arrow.svg" onclick="location.href = '/'">
    </div>

</body>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    const checkout_public_key = '{{checkout_public_key}}'
    const checkout_session_id = '{{checkout_session_id}}'
    var stripe = Stripe(checkout_public_key);
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function() {
        alert("click");
        stripe.redirectToCheckout({
            sessionId: checkout_session_id
        }).then(function(result) {

        })
    });
</script>

</html>