<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">

    <!-- monaco-editor -->
    <script src="/static/js/node_modules/monaco-editor/min/vs/loader.js"></script>
    


    <!--CSS-->
    <link rel="stylesheet" tyoe="text/css" href="/static/css/program.css">
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/craft.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="/static/js/generalJS.js"></script>
</head>
<body>

    <div class="actHopup">
        <p class="contentHopup"></p>
    </div>

    <div class="window">
        <div id="container" class="monaco"></div>
        <div class="LTicons">
            
            <input class="icon" type="image" src="/static/img/svg/arrow.svg" onclick="Back();">
            <input class="icon" name="save" type="image" src="/static/img/svg/save.svg" onclick="SaveScript();Hopup('Save');">
            <input class="icon" type="image" src="/static/img/svg/load.svg" onclick="openSelect()">
            <input class="icon" id="run" type="image" src="/static/img/svg/mission.svg" onclick="toTest();">
            <input class="icon" type="image" src="/static/img/svg/craft.svg" onclick="toCraft();">
        </div>
    </div>

    <div class="document" id="editorVue">
        <div class="func">
            <a onclick="cp('sleep()');" class="funcbtn">sleep(value)</a>
            <p>Function to sleep. You can indicate by the second</p>
            <ul>
                <li>value (int) : time to sleep (second) </li>
            </ul>
        </div>
        <div class="func">
        
            <a onclick="cp('Robot.LED(,)');" class="funcbtn">Robot.LED(name,mode)</a>
            <p>Function to operate LEDs. You have three LEDs.</p>
            <ul>
                <li>name (string) : LED Name (</li>
                <li>mode (bool) : True or False</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.Motor(,)');" class="funcbtn">Robot.Motor(name,power)</a>
            <p>Function to operate a motor. You can set a motor speed</p>
            <ul>
                <li>name (string) :Motor Name</li>
                <li>power (value) :-100～100</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.Servo(,)');" class="funcbtn">Robot.Servo(name,target angle)</a>
            <p>Function to operate a servo. You can set a servo angle</p>
            <ul>
                <li>name (string) :Motor Name</li>
                <li>angle (value) :-100～100</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.Solenoid(,)');" class="funcbtn">Robot.Solenoid(name,switch)</a>
            <p>Function to operate a Solenoid. You can set a Solenod status</p>
            <ul>
                <li>name (string) :Motor Name</li>
                <li>status (bool) :True or False</li>
            </ul>
        </div>


        <div class="func">
            <a onclick="cp('Robot.KeyRead()');" class="funcbtn">Robot.KeyRead()</a>
            <p>Function to read a Key. It returns key by char.</p>
            <ul>
                <li>return (string) : key that you press.</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.CSRead()');" class="funcbtn">Robot.CSRead(name)</a>
            <p>Function to read a Color Sensor. Color Sensor measures the blightness.</p>
            <ul>
                <li>name (string) : Sensor Name</li>
                <li>return (value) :0～100</li>
            </ul>
        </div>
        <div class="func">
            <a onclick="cp('Robot.RFRead()');" class="funcbtn">Robot.RFRead(name)</a>
            <p>Function to read a Range Finder. Range Finder measures the distance.</p>
            <ul>
                <li>name (string) : Sensor Name</li>
                <li>return (value) : 0～100</li>
            </ul>
        </div>
        <div class="func">
            <a onclick="cp('Robot.Gyro()');" class="funcbtn">Robot.Gyro(name)</a>
            <p>Function to read a Gyro Sensor. Gyro Sensor measures position, anguler, velocity and anguler velocity.</p>
            <ul>
                <li>name (string) : Sensor Name</li>
                <li>return (dictionary) : Data</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.MotorPower(,)');" class="funcbtn">Robot.MotorPower(name,power)</a>
            <p>Function to operate a motor torque. You can set a motor torque</p>
            <ul>
                <li>name (string) :Motor Name</li>
                <li>power (value) :-100～100</li>
            </ul>
        </div>

        
    </div>
    <div class="selectBack">
    <div class="selectWindow">
        <div class="selectTab">
            {%if session['ver'] == 'pro'%}
            <a class="close" id="remove" style="float : left;"onclick='ToRemove()'>remove</a>
            <a class="close" style="float : left;"onclick='newScript();'>new</a>
            {%endif%}
            <a class="close" onclick='$(".selectContent").empty();$(".selectBack").hide();'>close</a>
            
        </div>
        
        <div class="selectContent">

        </div>
    </div>
    </div>
    {%if session['ver'] == 'pro'%}
    <input type="text" class="scriptName" value="Script">
    {%else%}
    <input type="text" class="scriptName" value="Script" readonly>
    {%endif%}
    <script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/js/editor.js"></script>
    <script>
        be_url = document.referrer;
        if(be_url.indexOf("mission") > -1){
            $("#run").hide();
        }
        function Back(){
            sn = $(".scriptName").val();
            if(sn){
                localStorage.setItem("lastScript",sn);
            }else{
                localStorage.setItem("lastScript","script");
            }
            
            history.back();
        }
        function toMission(){
            sn = $(".scriptName").val();
            if(sn){
                localStorage.setItem("lastScript",sn);
            }else{
                localStorage.setItem("lastScript","script");
            }
            location.href = {{url_for('missionSelect')|tojson}}
        }
        function toTest(){
            sn = $(".scriptName").val();
            if(sn){
                localStorage.setItem("lastScript",sn);
            }else{
                localStorage.setItem("lastScript","script");
            }
            location.href = {{url_for('mission')|tojson}} + "?m=test"
        }
        function toCraft(){
            sn = $(".scriptName").val();
            if(sn){
                localStorage.setItem("lastScript",sn);
            }else{
                localStorage.setItem("lastScript","script");
            }
            location.href = {{url_for('craft')|tojson}}
        }
        sn = localStorage.getItem("lastScript");
            if(sn){
                snd = localStorage.getItem("S_" + sn);
                setText(snd);
                $(".scriptName").val(sn);
            }

            $(window).keydown(function(event) {
                var code = (event.keyCode ? event.keyCode : event.which);
                if (!(code == 83 && event.ctrlKey)) return true;
                event.preventDefault();
                $('input[name="save"]').click();
                return false;
            });

        $(function() {
            $('.funcbtn').on('click', () => {
                Hopup("Copy");
            });
            $('.RefPart').on('click', () => {
                Hopup("Copy");
            });
        });


        function Hopup(str) {
            $('.contentHopup').text(str);
            $('.actHopup').fadeIn(300, function() {
                $('.actHopup').fadeOut(300);
            });
        }


        function newScript() {
            editor.setValue(initText);
            closeSelect();
            $(".scriptName").val("script");
            Reflesh();
        }

        function openSelect() {
            $(".selectBack").fadeIn("slow");
            $(".selectContent").empty();
            for (key in localStorage) {
                if (key.indexOf("S_") === 0) {
                    rn = key.substr(2);
                    $(".selectContent").append(`<a onclick="attachScript('` + key + `')" class="selectbtn">` + rn + `</a>`)
                }
            }
        }

        function closeSelect() {
            $(".selectContent").empty();
            $(".selectBack").fadeOut("slow");
        }

        function attachScript(key) {
            rd = localStorage.getItem(key);
            localStorage.setItem('script', rd);
            editor.setValue(rd);
            rn = key.substr(2);
            $(".scriptName").val(rn);
            closeSelect();
        }

        function ToRemove() {
            $(".selectContent").empty();
            $("#remove").css('color', 'red');
            for (key in localStorage) {
                if (key.indexOf("S_") === 0) {
                    rn = key.substr(2);
                    $(".selectContent").append(`<a onclick="removeScript('` + key + `')" class="selectbtn">` + rn + `</a>`);
                }
            }
        }

        function removeScript(key) {
            localStorage.removeItem(key);
            $("#remove").css('color', 'gray');
            $(".selectContent").empty();
            for (key in localStorage) {
                if (key.indexOf("S_") === 0) {
                    rn = key.substr(2);
                    $(".selectContent").append(`<a onclick="attachScript('` + key + `')" class="selectbtn">` + rn + `</a>`);
                }
            }
        }
        function SaveScript() {
            key = $('.scriptName').val();
            key = "S_" + key
            localStorage.setItem(key, editor.getValue());
            key = $('.scriptName').val();
            localStorage.setItem("lastScript",key);
        }

        if(localStorage.getItem("lastScript")){
            sn = localStorage.getItem("lastScript");
            editor.setValue(localStorage.getItem(sn));
            $(".scriptName").val(sn);
        }
    </script>
    
</body>

</html>