<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">

    <!-- monaco-editor -->
    <script src="/static/js/node_modules/monaco-editor/min/vs/loader.js"></script>
    <script src="/static/js/editor.js"></script>


    <!--CSS-->
    <link rel="stylesheet" tyoe="text/css" href="/static/css/program.css">
    <link rel="stylesheet" type="text/css" href="/static/css/generalDesign.css">
    <link rel="stylesheet" type="text/css" href="/static/css/unity.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>

    <div class="actHopup">
        <p class="contentHopup"></p>
    </div>

    <div class="window">
        <div id="container" class="monaco"></div>
        <div class="LTicons">
            <input class="icon" type="image" src="/static/img/svg/arrow.svg" onclick="Back();">
            <input class="icon" name="save" type="image" src="/static/img/svg/save.svg" onclick="SaveScript('script');Hopup('Save');">
            <input class="icon" type="image" src="/static/img/svg/load.svg" onclick="LoadScript('script');Hopup('Load');">
        </div>
    </div>

    <div class="RobotRef" style="display: flex;flex-direction:column">

    </div>

    <div class="document" id="editorVue">

        <div class="func">
            <a onclick="cp('Robot.LED(,)');" class="funcbtn">Robot.LED(name,mode)</a>
            <p>Function to operate LEDs. You have three LEDs.</p>
            <ul>
                <li>name (string) : LED Name (</li>
                <li>mode (bool) : True or False</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.Motor(,)');" class="funcbtn">Robot.Motor(name,power)</a>
            <p>Function to operate a motor. You can set a motor speed</p>
            <ul>
                <li>name (string) :Motor Name</li>
                <li>power (value) :-100～100</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.Servo(,)');" class="funcbtn">Robot.Servo(name,power)</a>
            <p>Function to operate a servo. You can set a servo angle</p>
            <ul>
                <li>name (string) :Motor Name</li>
                <li>angle (value) :-100～100</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('Robot.CSRead()');" class="funcbtn">Robot.CSRead(name)</a>
            <p>Function to read a Color Sensor. Color Sensor measures the blightness.</p>
            <ul>
                <li>name (string) : Sensor Name</li>
                <li>return (value) :0～100</li>
            </ul>
        </div>
        <div class="func">
            <a onclick="cp('Robot.RFRead()');" class="funcbtn">Robot.RFRead(name)</a>
            <p>Function to read a Range Finder. Range Finder measures the distance.</p>
            <ul>
                <li>name (string) : Sensor Name</li>
                <li>return (value) : 0～100</li>
            </ul>
        </div>

        <div class="func">
            <a onclick="cp('sleep()');" class="funcbtn">sleep(value)</a>
            <p>Function to sleep. You can indicate by the second</p>
            <ul>
                <li>value (int) : time to sleep (second) </li>
            </ul>
        </div>
    </div>
    <script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script>
        var url = location.href;
        var params = url.split("?");
        if (params.length > 1) {
            url = "mission.html?" + params[1];
            params = params[1].split("&");
            pName = params[2];
            setText(localStorage.getItem(pName));
        } else {
            url = "index.html";
            //setText(localStorage.getItem("script"));
        }
        //読み込んだjsonからリストを作成
        var rjson = JSON.parse(localStorage.getItem("robo3"));

        if (rjson != null) {
            for (var module in rjson.modules) {
                for (var part in rjson.modules[module].objs) {
                    var meta = rjson.modules[module].objs[part].MetaData;
                    var name = rjson.modules[module].objs[part].name;

                    var addhtml = '<a onclick=\"cp(\'' + meta + '\'); \" class=\"RefPart\">' + meta + '</a>';

                    if (meta.indexOf("motor_") > -1 && name.indexOf("Motor_") > -1) {
                        $('.RobotRef').append(addhtml);

                    }
                    if (meta.indexOf("RF_") > -1) {
                        $('.RobotRef').append(addhtml);
                    }
                    if (meta.indexOf("CS_") > -1) {
                        $('.RobotRef').append(addhtml);
                    }
                }
            }
        }


        function Back() {
            location.href = url;
        }

        $(document).ready(function() {

            $(window).keydown(function(event) {

                var code = (event.keyCode ? event.keyCode : event.which);
                if (!(code == 83 && event.ctrlKey)) return true;
                event.preventDefault();
                $('input[name="save"]').click();
                return false;
            });
        });

        $(function() {
            $('.funcbtn').on('click', () => {
                Hopup("Copy");
            });
            $('.RefPart').on('click', () => {
                Hopup("Copy");
            });
        });


        function Hopup(str) {
            $('.contentHopup').text(str);
            $('.actHopup').fadeIn(300, function() {
                $('.actHopup').fadeOut(300);
            });
        }
    </script>
    <script src="/static/js/generalJS.js"></script>
</body>

</html>